<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.walden.dao.SexDao">
    <resultMap type="com.walden.entity.SexEntity" id="sex">
        <id property="id" column="id" />
        <result property="sex_type" column="sex_type" />
    </resultMap>
    <select id="selectAll" resultMap="sex">
        SELECT * FROM sex;
    </select>
</mapper>